<div class="modal">
    <h1>My Cart</h1>
    <br><br>
    <div class="modalContainer open bg-coldgrey">
        <div id="cartResult">
        </div>
        <h3 class="totalPrice"> </h3>
        <button class="closeModal btn">Close</button>
    </div>
</div>