{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Search for Coupons</title>
</head>
<body>
    <div class="container">
    <form action="/kupon/" method="post">
        <h1 class="text-align-center">Hot deals to save your money.</h1>
        <div class="card p-3 m-4">
          {% csrf_token %}
          {{ form }}
      </div>
      <input type="submit" value="Search coupons..." style="display: none;">
    </form>
        <div id="result" class="searchResult"></div>
          <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for coupon in queryset %}
            <div class="card m-3 d-flex flex-wrap text-align-center">
              <div class="card-body">
                <h5 class="card-title">Discount {{coupon.percentage}}%</h5>
                <p class="card-text">{{coupon.name}}</p>
                <p class="card-text">Minimum price: {{coupon.min_price}}</p>
                <p class="card-text">Expiry Date: {{coupon.expiry}}</p>
                <a href="#" class="btn btn-primary">Select</a>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src=" {% static 'js/checkout.js'%} " type="text/javascript "></script>

</html>