:root {
    --whitebones: #FFFCF5;
    --yellow: #FFCD3D;
    --blue: #2256CC;
    --darkgrey: #38393B;
    --red: #933531;
    --policeblue: #3A436B;
    --coldgrey: rgb(28, 29, 36);
    /* --big-font: 'Libre Caslon Text', serif; */
    --big-font: 'Playfair Display', serif;
    --small-font: 'Encode Sans', sans-serif;
    /* Some useful variables */
    --fullVhCalculated: calc(100vh-1.5em)
}


/* Added Feature for later */

.light {
    --bg: var(--whitebones);
    --purewhite: white;
    --bg2: var(--darkgray);
    --txt: var(--darkgray);
    --misc: var(--yellow);
    --button: var(--blue);
    --buttonText: var(--whitebones);
}

.dark {
    --bg: var(--darkgrey);
    --text: var(--whitebones);
    --misc: var(--red);
    --button: var(--policeblue);
    --buttonText: var(--whitebones);
}

html,
html * {
    margin: 0px;
    padding: 0px;
    font-family: var(--small-font);
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navLink>div>a {
    text-decoration: none;
    color: var(--text);
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

*:focus {
    outline: none;
}

br {
    margin: 3em;
}

body {
    background-color: var(--purewhite);
}


/* Auth */

#id_username {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_password {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_password1 {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_password2 {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_email {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_first_name {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

#id_last_name {
    border: 0;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    background: none;
    height: 2em;
    width: 100%;
    margin: 1em 0 1em 0;
}

form>label {
    text-align: left;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* CTAs */

.btn {
    padding: 1em 2em 1em 2em;
    margin: 0.5em 0 0.5em 0;
    border-radius: 2em;
    cursor: pointer;
    font-size: 0.75em;
}

.showCartNav {
    padding: 1em 2em 1em 2em;
    margin: 0.5em 0 0.5em 0;
    border-radius: 2em;
    cursor: pointer;
    font-size: 0.75em;
    background-color: var(--button);
    color: var(--whitebones);
}

.btn-normal {}

.cta-white {
    background-color: white;
    color: var(--darkgrey);
}

.cta-green {
    background-color: var(--button);
    color: var(--whitebones);
}


/* Large Grid */

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: calc(100vh - 5.5em);
    padding: 0px;
    overflow: hidden;
}

.grid-section>div {
    overflow: scroll;
    height: var(--fullVhCalculated);
}

.elemRow-grid {
    display: grid;
    grid-template-rows: minmax(100px, 200px) 24px 1fr;
    gap: 1em;
    padding: 0px;
    overflow: scroll;
}


/* .divBooks {
    padding: 0.4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} */


/* Navbar */

.navContainer {
    display: grid;
    grid-template-columns: 50vw 1fr;
    grid-auto-rows: 3.5em;
}

.navLink {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: black;
}

.navLink>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinkLogo {
    display: none;
}

.navLogo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 1em;
}


/* Background-Colors */

.bg-black {
    background-color: black;
    color: white;
}

.bg-whitebones {
    background-color: var(--whitebones);
    color: var(--darkgrey);
}

.bg-white {
    background-color: white;
    color: var(--darkgrey);
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-blue {
    background-color: blue;
    color: white;
}


/* Flexes */

.flex-ccc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
}

.flexrow-ccc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flexrow-cccl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.flexrow-llcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.flexrow-clcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.flex-lbl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
}

.flex-rcc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: right;
    align-items: center;
    text-align: center;
}

.flex-lcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.flex-cc {
    display: flex;
    display: -webkit-flexbox;
    align-items: center;
    text-align: center;
}


/* Modals */

.modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 20;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 2s filter linear;
}

.modalContainer {
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    padding: 1em;
}

#cartResult {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1em;
    grid-auto-rows: auto;
    overflow: scroll;
}

#cartResult>div {
    display: grid;
    grid-template-columns: 1fr 30%;
    background-color: white;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
}

.cartResultDetail {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.cartResultQty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cartResultQty>* {
    margin: .5em;
}

.addItemQty {
    width: 6em;
    background-color: green;
    padding: 1em 2em 1em 2em;
    margin: 1em;
    cursor: pointer;
    color: white;
    border-radius: 0 2em 2em 0;
}

.deleteItemQty {
    width: 6em;
    background-color: red;
    padding: 1em 2em 1em 2em;
    margin: 1em;
    cursor: pointer;
    color: white;
    border-radius: 2em 0 0 2em;
}

.resultContainer {
    overflow: scroll;
    height: var(--fullVhCalculated);
    padding: 1em;
}

#searchResult {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    grid-auto-rows: 450px;
    overflow: hidden;
}

#searchResult>a {
    padding: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

#searchResult>a>div {
    display: grid;
    grid-template-rows: 200px 3em 1em 1em 3em;
    gap: 1em;
}

#searchResult>a>div>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchResult>a>div>div>img {
    height: auto;
    max-height: 200px;
    max-width: 200px;
}

.bigImg {
    height: auto;
    width: auto;
    max-width: 40vw;
    max-height: 70vh;
}


/* User Input System */

.inputContainer {
    background-color: var(--purewhite);
}

.searchSystem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-left: 50%;
    margin-right: auto;
    transform: translateX(-50%);
}

#searchText {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

#rankBtn {
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    cursor: pointer;
    width: 50%;
    background-color: var(--button);
    color: var(--buttonText);
    font-size: 1em;
}

.title>p {
    font-size: 3rem;
    text-align: left;
    font-family: var(--big-font);
    color: var(--text);
}

.like {
    cursor: pointer;
}


/* Coupon */

.chosen-kupon {
    border: var(--whitebones) 5px solid;
}


/* .bg-coupon {
    background-color: yellowgreen;
} */

#specific-kupon {
    cursor: pointer;
}

@media only screen and (max-width: 790px) {
    .navLogo {
        display: none;
    }
    .navContainer {
        display: block;
        height: 3.5em;
        position: fixed;
        bottom: 0px;
        width: 100vw;
    }
    .navLink {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .navLinkLogo {
        display: flex;
        height: 3.5em;
        justify-content: center;
        align-items: center;
    }
    .desktopBTN {
        display: none;
    }
    .title>p {
        font-size: 2em;
    }
    .showCartNav {
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
}