{% extends 'base.html' %}
{% load static %}
{% block content %}

<span class="notifcation-container">
    <div class="alert alert-info" id="notification-sedang-proses" style="display:none">
        Processing your order...
    </div>

    <div class="alert alert-success" id="notification-sukses" style="display:none">
        Your order has successfully been processed.
    </div>
</span>

<div class="container w-100 transaksi p-2 d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-lg-6 col-sm-12 align-items-center">
            <h1>Checkout!</h1>
            {% for item in checkout_list %}
                <div class="bg-main3 w-100 p-3 border-history my-2">
                    <h3>{{item.0.product.name}} ({{item.0.quantity}} pcs.)</h3>
                    <h3>{{item.1}}</h3>
                </div>
            {% endfor %}
            
            <h3>Selected coupon: <span id="nama-kupon-transaksi">-</span></h3>
            <h3>Grand total: Rp. <span id="total-harga">{{total_harga}}</span></h3>
            <h3 id="new-harga"></h3>
            <button id="checkout-btn" class="btn btn-primary">Checkout</button>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column">
                <h3>Search for coupons</h3><br>
                <div class="d-flex align-items-center">
                    <p class="m-0 p-0 pr-2">Coupon name: </p>
                    <input id="cari-kupon-name" class="form-control-sm" type="text" placeholder="Name...">
                </div>
                <div class="d-flex align-items-center">
                    <p class="m-0 p-0 pr-2">Min. discount: </p>
                    <input id="cari-kupon-percentage" class="form-control-sm" type="number" placeholder="Min. discount...">
                </div>
                <button id="cari-kupon-btn" class="btn btn-primary w-25">Search</button>
                <h4 class="mt-2">Found coupon: </h4>
                    <div class="coupon-list">
                </div>
            </div>
        </div>
    </div>
    
    
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/checkout.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}