{% load socialaccount %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Get Started</title>
</head>

<body>
    <section class="container-100vh flexrow-ccc">
        <div class="flexrow-ccc">
            <div class="title">
                <h1>Hello there</h1>
            </div>
            <br> {% if user.is_authenticated %}
            <div class="greeting">
                <h3>What are you doing here? You're already logged in, {{user.username}} !</h3>
            </div>
            <a class="cta-white btn" href="{% url 'dashboard:landing'%}">Redirect to Dashboard!</a>
            <a class="logoutbtn btn" href="{% url 'logout'%}">logout</a> {% else %}
            <div class="greeting">
                <h2>Have I seen you before?</h2>
            </div>
            <a class="cta-white btn" href="{% url 'djangoaccounts:index' %}">Login with Django Account</a>
            <a class="cta-white btn" href="{% provider_login_url 'google' %}">Login with Google</a> {% endif %}
        </div>
    </section>
</body>

</html>