{% extends '../base.html'%}

<!-- For Dashboard Main Content -->
{% block content %}
<section class="grid-section">
    <div class="inputContainer">
        <div class="searchSystem flexrow-clcl">
            {% include 'dashboard/userInput.html' %}
        </div>
    </div>
    <div class="resultContainer">
        <div id="searchResult">
            {% include 'dashboard/products-results-partial.html' %}
        </div>
    </div>
</section>

</section>







<!-- Don't forget the endblock -->
{% endblock %}