{% load l10n %} {% if products %} {% for product in products %}
<a class="aToDet" href="product/{{product.slug}}/{{product.id}}">
    <div>
        <div>
            <img src="{{ product.image_url|default_if_none:'#' }}" />
        </div>
        <h4>{{product.name}}</h4>
        <p>{{product.category}}</p>
        <p>IDN {{product.price|localize}}</p>
        <div>
            {% if user.is_authenticated %} {% if product.stock > 0 %}
            <input type="submit" id="addToCart" class="btn cta-green" value="Add to Cart"> {% else %}
            <input type="submit" class="btn" value="No Stock" disabled> {% endif %}{% endif %}
        </div>
    </div>
</a>
{% endfor %} {% else %}
<p>No product found.</p>
{% endif %}