{% extends '../base.html'%}

<!-- For Dashboard Main Content -->
{% block content %}

<section class="grid-section ">
    <div class="flexrow-ccc">
        <img class="bigImg" src="{{ product.image_url|default_if_none:'#' }}" />
    </div>
    <div class="">
        <br><br>
        <h1 id="{{product.name}}" class="product_name">{{product.name}}</h1>
        <h3>Price: IDN {{product.price}}</h3>
        <br><br>
        <h4 class="descForTest">Description: </h4>
        <p>{{product.description}}</p>
        {% if user.is_authenticated %} {% if product.stock > 0 %}
        <input type="submit" id="addToCart" class="btn cta-green" value="Add to Cart"> {% else %}
        <input type="submit" class="btn" value="No Stock" disabled> {% endif %}{% endif %}

    </div>
</section>









<!-- Don't forget the endblock -->
{% endblock %}