<div class="title">
    <p>Hi <span class="spanTitle" style="color: var(--bg); background-color: var(--darkgrey);">{{user.username}}</span>! <wbr>Good&nbsp;collections,<wbr> all&nbsp;at your fingertips.</p>
</div>
<form id="searchForm" method="GET">
    <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
    <input id="searchText" class="" type="text" placeholder="> Find iPhone" aria-label="Search">
    <input style="display: none;" type="submit" value="Search">
</form>

{% if user.is_authenticated %}
<button class="showCart btn cta-green desktopBTN">My Cart</button>
<a class=" btn logoutBtn" href="{% url 'logout' %}">Logout</a> {% endif %}