{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Django Account Registration</title>
</head>

<body>
    <section class="container-100vh flexrow-ccc">
        <div class="flexrow-ccc">
            <div class="title">
                <h1>How may I address you?</h1>
            </div>
            <br> {% if user.is_authenticated %}
            <h1 class="welcome">Welcome back, {{ user.username }} !</h1>
            <p>You've succesfully login via Django</p>
            <a class="cta-white btn" href="{% url 'dashboard:dashboard'%}">Redirect to Dashboard!</a>
            <a class="logoutbtn btn" href="{% url 'logout'%}">logout</a> {% else %}
            

            <form class="flexrow-llcl" action="/djangoaccounts/signup/" method="post">
                {% csrf_token %} {% for field in signupform %}
                <h5>{{ field.label_tag }}</h5>
                <p>{{ field }}</p>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small><br> {% endif %}{% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %} <br>{% endfor %}
                <input type="submit" class="createaccount cta-green btn" value="Create Account!">

            </form>
            <a href="/djangoaccounts/login/">
                <p>Already have one?</p>
            </a>
            {% endif %}
        </div>
    </section>

</body>

</html>