{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row h-100">
      <div class="col-lg-6 col-sm-12 p-5 d-flex justify-content-center align-items-center">
        <form action="{% url 'transactions:add' %}" method="POST">

            {% csrf_token %}
            <input type="hidden" value="{{purchased_item.name}}" name="name">
            <input type="hidden" value="{{purchased_item.price}}" name="price">
            <input type="hidden" value="{{purchased_item.description}}" name="description">
            <input type="hidden" value="{{chosen_coupon_name}}" name="chosen_coupon_name">
            <input type="hidden" value="{{chosen_coupon_percentage}}" name="chosen_coupon_percentage">
          
            <div class="w-100">
            <h4>First Name</h4>
            <input class="form-control" type="text" placeholder="First Name" name="first_name" required>
          </div>
          <div class="w-100 my-2">
            <h4>Last Name</h4>
            <input class="form-control" type="text" placeholder="Last Name" name="last_name" required>
          </div>
          <div>
            <h4>Item bought: {{purchased_item.name}}</h4>
          </div>
          
          <div class="mt-4">
              
            {% if price_after_discount != None %}
                <h3>Grand total:</h3>
                <h4>Rp. {{price_after_discount}}</h4>
            {% else %}
                <h3>Grand total:</h3>
                <h4>Rp. {{purchased_item.price}}</h4>
            {% endif %}
            <input type="submit" class="btn btn-main " value="Bayar Gan">
          </div>
        </form>
      </div>

      <div class="col-lg-6 col-sm-12 px-5 pt-lg-5">
        <form action="{% url 'transactions:checkout' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column">
            {% csrf_token %}

            <input type="hidden" value="{{purchased_item.name}}" name="nama_barang">
            <input type="hidden" value="{{purchased_item.price}}" name="harga_barang">
            <input type="hidden" value="{{purchased_item.description}}" name="deskripsi_barang">
          
            <h2 class="mb-4">Save your money</h2>
          <div class="w-75 my-1">
            <h4>Coupon Name</h4>
            <input class="form-control" type="text" placeholder="Coupon Name" name="nama_kupon">
          </div>
          <div class="w-75 my-1">
            <h4>Coupon Percentage</h4>
            <input class="form-control" type="number" placeholder="Coupon Percentage" name="persentase_kupon">
          </div>
          <input type="submit" class="btn btn-main w-75" value="Cari Kupon">

          {% if chosen_coupon_name %}
        <p class="m-0 mt-2 p-0">You have picked the coupon "{{chosen_coupon_name}}"</p>
        <h4 class="m-0 p-0">for a discount of {{chosen_coupon_percentage}}%</h4>
        {% endif %}

        {% if coupon_name %}
        <p>Search for: {{coupon_name}}</p>
        {% endif %}
        
        {% if coupon_percentage %}
        <p>Over: {{coupon_percentage}}%</p>
        {% endif %}


        <p class="m-0 p-0 pt-3">Available Coupons:</p>
        <div class="row mt-3">
            {% for coupon in coupon_list %}
                <div class="col-4 d-flex justify-content-center align-items-center flex-column my-1">
                    <button type="submit" value="{{coupon.name}}---{{coupon.percentage}}" name="chosen_coupon"
                    class="bg-coupon text-light rounded-lg px-2 py-1 text-center d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 p-0">{{coupon.name}}</p>
                        <p class="m-0 p-0">{{coupon.percentage}}% Off</p>
                    </button>
                </div>
            {% endfor %}
          </div>

        </form>

        
        </div>
      </div>
    </div>
  </div>

{% endblock %}