{% extends 'base.html' %}
{% block content %}
    <div class="container p-2 d-flex justify-content-center align-items-center flex-column">
        {% for transaction in transaction_list %}
        <div class="w-75 p-3 my-2" id="transaction-card">
            <div class="row">
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-start flex-column">
                    <h1 class="m-0 p-0">{{transaction.0.user.username}}</h1>
                    <p class="m-0 p-0">Item: {{transaction.2}}</p>
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-start flex-column">
                    <p class="m-0 p-0">{{transaction.0.date|date:"Y-m-d / G:i"}}</p>
                    <p class="m-0 p-0">
                        {% if transaction.0.coupon != None %} 
                            Coupon: {{transaction.0.coupon.name}} ({{transaction.0.coupon.percentage}}% off)
                        {% else %}
                            No coupon used
                        {% endif %}
                    </p>
                    <h2 class="m-0 p-0">Rp. {{transaction.1}}</h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}  